.movie-form{
    display: flex;
    width: 100%;
}

.movie-form input:nth-child(1){
    width: 100%;
}

.search-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin-inline: auto;
}

.movie-list{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;
}

.movie-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.movie-list li img{
    border-radius: 8px;
}

.movie-title{
    text-align: center;
}

.movie-title p{
    margin: 0;
    margin-bottom: 0.5rem;
}

.movie-title h3{
    margin: 0;
}
